# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*
# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!*.yml
!.gitignore
!*.md
!*/custom_components/
!*/blueprints/
!*/deps/
!*/esphome/
!*/image/
!*/node-red/
!*/themes/
!*/tts/
!*/www/
# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

# Ignore database & log
home-assistant_v2.db
home-assistant.log

test.txt